footer{
    color: rgb(174, 174, 174);
    padding: 30px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
footer li,
footer p{
    border-bottom: solid 1px;
}
footer p{
    padding: 4px 0;
}
footer p,
footer a{
    font-size: 1rem;
}
footer a{
    color: var(--bg_color_light_1);
    height: 100%;
    width: 100%;
    display: flex;
        justify-content: flex-start;
}
footer a:hover{
    color: rgb(255, 255, 255);
    transition: 350ms;
}
footer .box_adresse_links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .copyright a{
    font-size: 11px;
    margin-top: 50px;
}


@media screen and (min-width: 688px) {
    footer{
        padding-left: 150px;
        padding-right: 150px;
    }
    footer p,
    footer a{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 800px) {
    footer p,
    footer a{
        font-size: 0.8rem;
    }
}