.gallerie{
    position: relative;
}
.gallerie div{
    // border-top: solid 10px var(--bckgd_color_light_1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
}