:root{
    --bckgd_color_dark_1: #151515;
    --bckgd_color_dark_2: #252525;
    --bckgd_color_dark_3: #353535;
    --bckgd_color_dark_6: #656565;

    --bckgd_color_light_1: rgb(0, 231, 231);
    --bckgd_color_light_12: rgb(0, 165, 165, 0.2);
    --bckgd_color_light_2: #ff4200;
    --bckgd_color_light_3: gainsboro;

    --text_color_dark_1: #151515;
    --text_color_gray_2: #656565;
    --text_color_light_3: #fcfcfc;

    --shadowText: 3px 3px 4px rgb(0, 0, 0, 0.8); 
    --shadowObjet: 4px 4px 4px rgb(0, 0, 0, 0.8);
}