
<header style="background-image: url('./assets/images/background/rajat-sarki-Px6DxlRw7XM-unsplash.jpg');">
    <div class="dark_opo header_contenu">
        <!--<div class="reseaux_social">
            <a href="" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </div>-->
        
        <h1>WAWMOMO</h1>
        <h3>SANDWICHERIE - PETITE RESTAURATION - TAKE AWAY</h3>

        <a class="btn_reservation" href="tel:02.203.43.00">Reservation</a>
    </div>
</header>



<div class="box_contenu">

    <!--<h1 id="technologie" class="titre_Portfolio">Nos Menus : <a class="a_scroll_up"><i class="fa-solid fa-chevron-up"></i></a></h1>-->
    
    <div id="menu" class="box_list_menus">
        <!--<div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>
        
        <div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>
        
        <div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>
        
        <div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>-->
    </div>


    <div class="box_list_produits ">
        <table>
            <tbody>
                <tr>
                    <td style="border-bottom: none;">
                        <h1>Des menus au choix !</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    

    <div class="presentation">
        <h1>Des plats delicieux !</h1>

        <hr>

        <div class="presentation_contenu">
            <div style="background-image: url('./assets/images/background/momos.jpg');"></div>
            <div style="background-image: url('./assets/images/background/platsindiens.jpg');"></div>
            <div style="background-image: url('./assets/images/background/samosas.jpg');"></div>
        </div>
        
        <div class="presentation_contenu">
            <div style="background-image: url('./assets/images/background/salade.jpg');"></div>
            <div style="background-image: url('./assets/images/background/ingrediants.jpg');"></div>
            <div style="background-image: url('./assets/images/background/momocasseroles.jpg');"></div>
        </div>
    </div>


    <div id="gallerie" class="gallerie">
        <h1 class="titre_Portfolio">Gellerie :</h1>
        <div style="background-image: url('./assets/images/background/facade.jpg');"></div>
        <div style="background-image: url('./assets/images/background/tablesinterieur.jpg');"></div>
        <div style="background-image: url('./assets/images/background/tablesexterieurs.jpg');"></div>
    </div>


    <div id="horaires" class="horaires">
        <div class="sous_div_heures">

            <h2>Horaires</h2>

            <table>
                <tr>
                    <td>Du lundi au Jeudi</td>
                    <!--<td> | </td>-->
                    <td>&nbsp;de 10h à 20h</td>
                </tr>
                <tr>
                    <td>Les vendredis</td>
                    <!--<td> | </td>-->
                    <td>&nbsp;de 10h à 21h</td>
                </tr>
                <tr>
                    <td>Les samedis</td>
                    <!--<td> | </td>-->
                    <td>&nbsp;de 17h à 21h</td>
                </tr>
                <tr>
                    <td>Les Dimanches</td>
                    <!--<td> | </td>-->
                    <td>&nbsp;de 17h à 20h</td>
                </tr>
    
                <tr>
                    <td style="font-size: 90%;" colspan="3">Nous fermons de 15h à 17h</td>
                </tr>
            </table>
    
            <!--<div id="lienContact" class="lienContact">
                <h3>Commander par téléphone</h3>
                <a class="lien_grand_ecran" href="tel:02.203.43.00">Tel: 02.203.43.00</a>
                <a class="lien_petit_ecran" href="tel:02.203.43.00"><i class="fas fa-phone-square"></i></a>
            </div>-->
        </div>
    
        <a class="flecheUp a_scroll_up" ><i class="fas fa-arrow-up"></i></a>
    </div>


    <div id="map" class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d157.99956800750047!2d4.379203293862088!3d50.68295330368792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3cfe4e8998219%3A0x60e883c37ef09aed!2sWaw%20Momo!5e0!3m2!1sfr!2sfr!4v1628520801702!5m2!1sfr!2sfr" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div id="contact"></div>
</div>



<script type="text/javascript" src="./assets/js/scrolls_animation.js"></script>
<script type="text/javascript" src="./assets/js/datas_menus.js"></script>
<script type="text/javascript">
    $(function(){

        let img_bg_menu = $(".box_list_menus .item");
        let box_list_produits = $(".box_list_produits");
        let header = $("header");


        //header.css({
        //    "background-image": "url('./assets/images/background/rajat-sarki-Px6DxlRw7XM-unsplash.jpg')"
        //});
        //img_bg_menu.css({
        //"background-image": "url('https://www.voyagethailande.fr/cdn/th-public/panang_curry-MAX-w1000h600.jpg')"
        //});
        //box_list_produits.css({
        //    "background-image": "url('./assets/images/background/')"
        //});

    })
</script>