.contenue .btn_login{
    padding: 10px 20px;
    position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    border: solid 2px var(--color_white_opo);
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 7px;
}
.contenue .btn_login:hover{
    background-color: var(--color_white_opo);
    color: black;
}
.contenue_head{
    // border: solid 3px green;
    position: relative;
    display: flex;
    img{
        max-width: 1000px;
        margin: auto;
    }
}
.contenue .opo{
    // border: solid 5px white;
    background-color: rgb(0, 23, 45, 0.1);
    position: absolute;
        top: 0;
    height: 100%;
    width: 100%;
}

// ACCUEIL MCU
// .contenue_mcu{
//     background-color: red;
// }
.contenue_mcu_head{
    // background-color: blueviolet;
    border-bottom: solid 1px var(--color_white_opo);
    padding-bottom: 10px;
    display: flex;
    img{
        max-width: 120px;
    }
    .link{
        width: 100%;
        display: flex;
            justify-content: center;
            align-items: center;
        a{
            padding: 4px 8px;
        }
    }
}
.contenue_mcu_body .presentation_principal{
    // border: solid green 3px;
    display: flex;
    overflow: scroll;
    .items{
        border: solid red 3px;
        min-width: 400px;
        height: 200px;
        border: solid 2px ;
        border-radius: 20px;
        margin: 10px;
        background-position: center;
        background-size: cover;
        box-shadow: var(--shadow);
    }
}