
<div class="box_jeu_oxo">
    <div class="points">
        <h3>PC:</h3>
        <p>Points: 0</p>

        <h3>Player:</h3>
        <p>Pnoints: 0</p>
    </div>

    <p onclick="creationPlateau()">start</p>
    <div class="tableau">
        <ul id="tab_A"></ul>
        
        <ul id="tab_B"></ul>
        
        <ul id="tab_C"></ul>
    </div>
</div>

<script type="text/javascript">
    title = "HClavinas | Projets";
    $("title").append().html(title);

    let tab_A = $(" #tab_A ")
    let tab_B = $(" #tab_B ")
    let tab_C = $(" #tab_C ")

    let Player = [
        {
            nom: "",
            symbole: "" // X ou O
        }
    ]
    let Robot = [
        {
            nom: "Machine",
            symbole: "" // X ou O
        }
    ]

    let tab_plateau_A = ["1","2","3"] 
    let tab_plateau_B = ["a","b","c"]
    let tab_plateau_C = ["5","g","a"]

    let elem_tampo_A = "";
    let lettre_A = "A";
    let elem_tampo_B = "";
    let lettre_B = "B";
    let elem_tampo_C = "";
    let lettre_C = "C";

    function creationPlateau(){ 
        for( let i=0; i<3; i++ ){
            elem_tampo_A += '<li onclick="clickA('+tab_plateau_A[i]+')">'+tab_plateau_A[i]+'</li>';
        }
        tab_A.append().html(elem_tampo_A);
    }

    
    function clickA(nr){
        for( let i=0; i<3; i++ ){
            if( tab_plateau_A[i] == nr ){
                tab_plateau_A[i] = "X";
                creationPlateau();
            }
        }
    }
    
</script>