<h1>Accueil</h1>

<div class="box_produits"></div>

<div class="test" style="background-color: green;color: white;"></div>


<script>
    title = "HC-DEV | Accueil";
    $("title").html(title);

    //SIBLES
    let search = $("#search");
    let test = $(".test");
    let box_produits = $(".box_produits");

    //VARIABLES INIT
    let tampon = "";
    let item_produit = "";
    let elem_produit = "";
    let id_produit = "";

    

    search.change(function(id){
        id_produit = `${id.target.value}`;

        $.ajax({
            url: "./assets/js/datas/dataProduits.json",
            dataType: "json",
            success: function(data){
                data.forEach(elem => {
                    console.log(elem)
                })
            }
        });

        fetch("./assets/js/datas/dataProduits.json")
            .then(res => res.json())
            .then(data => {
                data.forEach(elem => {
                    elem.Keywords.forEach(key => {
                        if( id_produit == key ){
                            tampon = elem.Name
                            elem_produit += '<div class="produit">';
                            elem_produit += '<img src="'+elem.Image+'" alt="">';
                            elem_produit += '<h3>'+elem.Name+'</h3>';
                            elem_produit += '<p>prix: '+elem.Prix+'</p>';
                            elem_produit += '<a href="">Panier</a>';
                            elem_produit += '</div>';
                        }else{
                            if( tampon != "" ){    
                                false
                            }else{  
                                elem_produit = "Rien";
                            }
                        }
                    })
                    box_produits.html(elem_produit);
                })
                tampon = "";
            })
    })
</script>