<h1>Accueil</h1>

<div class="box_produits">
    <div class="produit">
        <img src="https://www.motorlegend.com/modules/breve/photos/src/montre-bugatti-chiron-blue-sapphire-crystal-24345-1-P.jpg" alt="">
        <h3>Nom produit</h3>
        <p>prix: 200 €</p>
        <a href="">Panier</a>
    </div>

    
    <div class="produit">
        <img src="https://www.motorlegend.com/modules/breve/photos/src/montre-bugatti-chiron-blue-sapphire-crystal-24345-1-P.jpg" alt="">
        <h3>Nom produit</h3>
        <p>prix: 200 €</p>
        <a href="">Panier</a>
    </div>
</div>

<div class="test" style="background-color: green;color: white;"></div>


<script>
    title = "HC-DEV | Accueil";
    $("title").html(title);

    let search = $("#search");
    let test = $(".test");

    search.change(function(id){
        console.log(`${id.target.value}`);
        test.html(`${id.target.value}`);
    })
</script>