
.nav{
    flex: 1;
    // background-color: var(--color_orange);
    font-size: 1.1em;
    display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
    a{
        font-family: 'Inter', sans-serif;
        padding: 4px 10px;
        margin: 4px;
        color: white;
        // width: 100%;
        // border: solid 2px var(--color_dark_blue);
    }
    a:hover{
        color: var(--color_gray);
        // background-color: var(--color_dark_blue);
    }
}