.box_projets{
    // border: solid 3px red;

    .projet{
        display: flex;
        position: relative;

        a{
            background-color: rgb(255, 255, 255, 0.5);
            color: black;
            padding: 5px 15px;
            border-radius: 5px;
            position: absolute;
                top: 10%;
                left: 5%;
        }
        a:hover{
            background-color: white;
        }

        img{
            width: 50%;
        }
        .description{
            h3{
                // background-color: green;
                padding: 0 0 20px;
                text-decoration: underline;
                font-size: 1.2em;
            }
        }
    }
}
.add_color{
    background-image: var(--color_mouve);
}

@media screen AND (min-width: 901px) {
    .projet{
        .description{
            padding: 10px;
        }
    }    
}

@media screen AND (max-width: 900px) {
    .box_projets{
        .projet{
            flex-direction: column;
            a{
                top: 5%;
            }
            img{
                min-width: 100%;
            }
            .description{
                padding: 40px 10px 200px;
            }
        }
    }    
}