<div class="contenue_mcu">
    <div class="contenue_mcu_head">
        <img src="./assets/images/background/logoMcu.png" alt="" srcset="">
        
        <div class="link">
            <a href="#/accueilmcu" title="Accueil"><i class="fa-solid fa-house"></i></a>
            <a href="#/films" title="Films"><i class="fa-solid fa-film"></i></a>
            <a href="#/series" title="Series"><i class="fa-regular fa-tv-retro"></i></a>
        </div>
    </div>

    <div class="contenue_mcu_body">
        <div class="presentation_principal"></div>

        <!-- PAR PHASES -->
        <div class="box_phases">
            <div class="phases"><a href="#/phase1">Phase 1</a></div>
            <div class="phases"><a href="#/phase2">Phase 2</a></div>
            <div class="phases"><a href="#/phase3">Phase 3</a></div>
            <div class="phases"><a href="#/phase4">Phase 4</a></div>
        </div>

        <!-- PAR COLLECTTION -->
        <div class="box_collections">
            <h3>Collection Iron Man</h3>
            <div class="collections ironman"></div>
        </div>

    </div>
</div>

<script src="./assets/js/datas/data.js"></script>
<script>
    title = "MCU | Accueil Mcu";
    $("title").append().html(title);
    

    $(function(){
        //sibles
        let avengers_item = $(".contenue_mcu_body .presentation_principal");
        let ironman_item = $(".contenue_mcu_body .ironman");
        
        let avengers_elem= "";
        let ironman_elem= "";

        //Presentation films avengers 
        allMcuMoviesSeries.forEach(elem => {
            if( elem.collection[0].name == "Avengers" ){
                avengers_elem+=  '<div class="items" style="background-image: url('+elem.image+')">';
                avengers_elem+=     '<div class="opo"></div>';
                avengers_elem+=  '</div>';
            }else{
                false
            }
        })
        avengers_item.append(avengers_elem)

        //Presentation collection iron man
        allMcuMoviesSeries.forEach(elem => {
            elem.collection.forEach(elem2 => {
                console.log(elem2.name)
                if( elem2.name == "iron man" ){
                    ironman_elem += '<div class="item" style="background-image: url('+elem.image+')"><a class="opo" href="">'+elem.name+'</a></div>'
                }else{
                    false
                }
            })
            
        })
        ironman_item.append(ironman_elem)
        
    })
</script>