<div class="contenue_mcu">
    <div class="contenue_mcu_head">
        <img src="./assets/images/background/logoMcu.png" alt="" srcset="">
        
        <div class="link">
            <a href="#/"><i class="fa-solid fa-house"></i></a>
            <a href="#/films"><i class="fa-solid fa-film"></i></a>
            <a href="#/series"><i class="fa-regular fa-tv-retro"></i></a>
        </div>
    </div>

    <div class="contenue_mcu_body">
        <h2>Films</h2>
        <div class="presentation_phase"></div>
    </div>
</div>

<script src="./assets/js/datas/data.js"></script>
<script>

    $(function(){
        let hashUrl = "films";
        //Sibles
        let titre_phase = $(".contenue_mcu_body h2");
        let films_items = $(".presentation_phase");

        //Variables init
        let films_elem = "";

        switch (window.location.hash) {
            case '#/films':
                hashUrl = window.location.hash;
                hashUrl = hashUrl.replace("#/", "");
                titre_phase.html(hashUrl);

                //Presentation des filmes
                allMcuMoviesSeries.forEach(elem => {
                    console.log(elem.type)
                    if( elem.type == "movie" ){
                        films_elem += '<div class="item" style="background-image: url('+elem.image+')"><a class="opo" href="">'+elem.name+'</a></div>';
                    }
                })
                films_items.append(films_elem);
            break;

            case '#/series':
                hashUrl = window.location.hash;
                hashUrl = hashUrl.replace("#/", "");
                titre_phase.html(hashUrl);

                //Presentation des filmes
                allMcuMoviesSeries.forEach(elem => {
                    console.log(elem.type)
                    if( elem.type == "serie" ){
                        films_elem += '<div class="item" style="background-image: url('+elem.image+')"><a class="opo" href="">'+elem.name+'</a></div>';
                    }
                })
                films_items.append(films_elem);
            break;
            default:
            false
            }

            title = "MCU | "+hashUrl;
            $("title").append().html(title);
    })
</script>