<div class="contenue_mcu">
    <div class="contenue_mcu_head">
        <img src="./assets/images/background/logoMcu.png" alt="" srcset="">
        
        <div class="link">
            <a href="#/accueilmcu"><i class="fa-solid fa-house"></i></a>
            <a href="#/films"><i class="fa-solid fa-film"></i></a>
            <a href="#/series"><i class="fa-regular fa-tv-retro"></i></a>
        </div>
    </div>

    <div class="contenue_mcu_body">
        <h1>Series</h1>
    </div>
</div>


<script>
    title = "MCU | Series";
    $("title").append().html(title);
</script>