



<div style="margin: 10px;">
    <div class="nav-box-ul">
        <ul>
            <li routerLinkActive="active">
                <a class="liens" routerLink="/menus">Menus</a>
            </li>
    
            <li routerLinkActive="active">
                <a class="lienAdd" routerLink="/addMenu">Add Menu</a>
            </li>

            <li routerLinkActive="active">
                <a class="lienAdd" routerLink="/addProduit">Add Produit</a>
            </li>
    
            <li routerLinkActive="active">
                <a class="liens" routerLink="/tva">Tva's</a>
            </li>
        </ul>
    
        <ul>
            <li routerLinkActive="active">
                <a class="lienAdd" routerLink="/users" onmousemove="('salut')">Add users</a>
            </li>

            <li routerLinkActive="active">
                <a class="lienDecon" routerLink="">Se Deconnecter</a>
            </li>
        </ul>

        <h1>Panel de configuration</h1>
    </div>

    <br><br>

    <span>
        
    </span>
</div>




