.box_produits{
    background-color: rgb(214, 214, 214);
    display: flex;
        justify-content: center;
        align-items: center;

    .produit{
        // border: solid 2px white;
        margin: 20px;
        display: flex;
            flex-direction: column;

        img{
            width: 200px;
        }
        a{
            background-color: green;
            color: white;
            padding: 10px;
            text-align: center;
        }
    }
}