
.box_profil{
    display: flex;
        justify-content: center;
        align-items: center;
    padding: 100px 0;
    min-height: 80vh;
}
.box_profil .photo_profil,
.box_profil .text_profil{
    // border: solid white 2px;
    flex: 1;
    display: flex;
        justify-content: center;
        align-items: center;
}
.box_profil .photo_profil img{
    width: 200px;
    border-radius: 50%;
}



.box_profil .text_profil ul{
    border-left: solid 10px blue;
    padding-left: 15px;
}
.box_profil .text_profil ul li{
    font-size: 1.3rem;
}
.box_profil .text_profil ul li h1{
    font-size: 3rem;
}



@media screen AND (max-width: 800px) {
    .box_profil{
        flex-direction: column;
    }
    .box_profil .text_profil{
        padding-top: 100px;
    }
}