:root{
    --bg_color_dark_1: #151515;
    --bg_color_light_1: #959595;

    --txt_color_light_1: #fff;
    --txt_color_dark_1: #161616;
    --txt_color: rgb(0, 156, 156);

    --font_family_pop: "Poppins", sans-serif;

    --txt_shadow: 4px 4px 4px rgb(0, 0, 0);

    --box_shadow: 4px 4px 4px rgb(0, 0, 0);
    
    --backColorGreen: rgb(0, 156, 156);
    --backColorOrange: chocolate;
}