
<div class="box_contenu_todolist_page">

    <h1>To do list projet :</h1>
    <div class="boxAddField">
        <h1>Ajouter elements :</h1>
        <div class="items">
            <input type="text" id="inputAdd" placeholder="ajouter un element à la list">
            <button id="addToDo">Add</button>
        </div>
    </div>


    <div class="box_contenu_list">
        <div class="list">
            <h1>LIST</h1>
            <div class="items" >

                <ul id="list_items">
                    <li>List vide !</li>
                </ul>
            </div>
        </div>
    </div>

</div>


<script>

//boxAddField:
    let addToDoButton = $("#addToDo");
    let inputAdd = $("#inputAdd");

//items:
    let list_items = $("#list_items");
    let list_items_li = $("#list_items li");

    let X = $(".X");
    let V = $(".V");

    let list_tab = [];

    let last_item = "";

//boxAddField:
    addToDoButton.click(function(){

        if( inputAdd.val() != ""){

            list_tab.push( {name:inputAdd.val(), niveau:"false"} );
            last_item = inputAdd.val();
            inputAdd.val("");
            console.log(list_tab);
            List();

        }else{"error first else"}
    })

//list items:

    function Later(val){
        list_tab.forEach(elem => {
            if( elem.name == val ){
                elem["niveau"] = "later";
            }
        })
        List();
        console.log("LATER");
        console.log(list_tab);
    }

    function Done(val){
        list_tab.forEach(elem => {
            if( elem.name == val ){
                elem["niveau"] = "done";
            }
        })
        List();
        console.log("DONE");
        console.log(list_tab);
    }

    function Delete(val){
        list_tab.forEach(elem => {
            if(  elem["name"] == val && elem["niveau"] == null ){
                list_tab.splice(0);
                list_items.html("<li>List vide !</li>");
                List();
                console.log("IF");
                console.log(list_tab);

            }
            else if( elem["name"] == val && elem["niveau"] != null){
                elem["niveau"] = null;
                console.log(elem["name"] +" <-> " +val +" niveau " + elem["niveau"]);
                List();
                console.log("ELSE");
                console.log(list_tab);
                
            }
            else{false}
        })
    }
    


    function List(){
        let item = "";
        
        list_tab.forEach(elem => {

            if( elem.niveau == "false"){
                item += '<li>'+elem.name+'<p><span onclick="Later(\''+elem.name+'\')" class="X">X</span> <span onclick="Done(\''+elem.name+'\')" class="V">V</span></p></li>';
                list_items.html(item);
            }
            else if( elem.niveau == "later"){
                item += '<li>'+elem.name+'<p><span onclick="Later('+elem.name+')" class="X" style="color:blue">X</span> <span onclick="Done(\''+elem.name+'\')" class="V">V</span></p></li>';
                list_items.html(item);
            }
            else if( elem.niveau == "done"){
                item += '<li>'+elem.name+'<p><span class="V" style="color:green">V</span> <span onclick="Delete(\''+elem.name+'\')">delete</span></p></li>';
                list_items.html(item);
            }
            else{false}

        })

        
    }

    

            //item += '<li>'+elem.name+'<p><span class="X">X</span> <span class="V">V</span></p></li>';
</script>