
<div class="box_contenu_todolist_page">
    <h1>To do list projet :</h1>

    <div class="boxAddField">
        <h1>Ajouter elements :</h1>
        <div class="items">
            <input type="text" id="inputAdd" placeholder="ajouter un element à la list">
            <button id="addToDo">Add</button>
        </div>
    </div>


    <div class="box_contenu_list">
        
        <div class="list">
            <h1>LIST</h1>
            <div class="items" id="list">
                <!--<select name="list" id="list">
                    <label for="list"></label>
                    <option value="done">done</option>
                    <option value="later">later</option>
                </select>-->
            </div>
        </div>

        <div class="done">
            <h1>DONE</h1>
            <div class="items" id="done">
            </div>
        </div>

        <div class="later">
            <h1>LATER</h1>
            <div class="items" id="later">
            </div>
        </div>
    </div>
</div>


<script>

    let addToDoButton = $("#addToDo");
    let inputAdd = $("#inputAdd");
    let list = $("#list");
    let list_done = $("#done");
    let list_later = $("#later");
    
    //let done = $(".done ul");
    //let later = $(".later ul");

    //let DONE = $(".DONE");
    //let LATER = $(".LATER");

    let list_tab = [];
    let done_tab = [];
    let later_tab = [];

    let val_done = [];
    let val_later = [];

    let last_item = "";
    let done = "";
    let later = "";
    
    //'<p>'+data.item+'<span onclick="spanX('+data.id+')" class="X" value="data.id">X</span> <span onclick="spanV('+data.id+')" class="V" value="data.id">V</span></p>';
    //list.append('<li value="'+elem+'" onclick="test()">'+elem+'</li>');

    addToDoButton.click(function(){

        if( inputAdd.val() != ""){

            list_tab.push( inputAdd.val() );
            last_item = inputAdd.val();
            inputAdd.val("");
            //console.log(list_tab);

            List();
            
        }else{"error first else"}
    })
    


    function List(){
        let item = "";
        list_tab.forEach(elem => {
            
            if( elem == last_item){
                
                item += '<label for="'+elem+'">'+elem+'</label>';
                item += '<select name="'+elem+'" id="'+elem+'">';
                item += '<option >options :</option>';
                item += '<option value="done/'+elem+'">done</option>';
                item += '<option value="later/'+elem+'">later</option>';
                item += '</select>';

                done = "done/"+elem;
                later = "later/"+elem;

                list.append(item);
                
                //console.log("elem -> " + elem + " last_item " + last_item)
            }else{false}

        })
    }

    list.change(function(val){

        if( `${val.target.value}` == done ){
            console.log("done "+done);

            done = val.target.value.replace("done/", "");
            done_tab.push(done);
            later_tab.shift(done);
            Done();
            Later();
            done = "";
            later = "";

        }else if( `${val.target.value}` == later ){
            console.log("done "+later);

            later = val.target.value.replace("later/", "");
            later_tab.push(later);
            Later();
            //later = "";
        }
    })


    function Done(){
        console.log("done_tab:")
        console.log(done_tab)
        let item = "";
        done_tab.forEach(elem => {

            item += '<label for="'+elem+'">'+elem+'</label><br>';
            list_done.html(item);
        })
        //Later()
        
    }

    function Later(){
        console.log("later_tab:");
        console.log(later_tab);
        let item = "";
        later_tab.forEach(elem => {

            item += '<label for="'+elem+'">'+elem+'</label>';
            item += '<select name="'+elem+'" id="'+elem+'">';
            item += '<option >options :</option>';
            item += '<option value="done/'+elem+'">done</option>';
            item += '</select>';
            list_later.html(item);

        })
    }



    

    list_later.change(function(val){
        let item = "";

        if( `${val.target.value}` == done ){
            done = val.target.value.replace("done/", "");

            done_tab.push(done);

            later_tab.shift(done);
            
            Later();
            

        }else{}
        
        Done();
    })  

    
  


    


</script>