
<div class="box_contenu_todolist_page">

    <h1>To do list projet :</h1>
    <div class="boxAddField">
        <h1>Ajouter elements :</h1>
        <div class="items">
            <input type="text" id="inputAdd" placeholder="ajouter un element à la list">
            <button id="addToDo">Add</button>
        </div>
    </div>


    <div class="box_contenu_list">
        <div class="list">
            <h1>LIST</h1>
            <div class="items" >
                <!--<select name="list" id="list">
                    <label for="list"></label>
                    <option value="done">done</option>
                    <option value="later">later</option>
                </select>-->

                <ul id="list_items">
                    <!--<li value="0test">item name <p><span class="X">X</span> <span class="V">V</span></p></li>
                    <li value="1test">item name <p><span class="X">X</span> <span class="V">V</span></p></li>-->
                </ul>
            </div>
        </div>
    </div>

</div>


<script>

//boxAddField:
    let addToDoButton = $("#addToDo");
    let inputAdd = $("#inputAdd");

//items:
    let list_items = $("#list_items");
    let list_items_li = $("#list_items li");

    let list_tab = [];

    let last_item = "";
    
    //'<p>'+data.item+'<span onclick="spanX('+data.id+')" class="X" value="data.id">X</span> <span onclick="spanV('+data.id+')" class="V" value="data.id">V</span></p>';
    //list.append('<li value="'+elem+'" onclick="test()">'+elem+'</li>');

//boxAddField:
    addToDoButton.click(function(){

        if( inputAdd.val() != ""){

            list_tab.push( {name:inputAdd.val(), niveau:"false"} );
            last_item = inputAdd.val();
            inputAdd.val("");
            console.log(list_tab);
            List();

        }else{"error first else"}
    })

//list items:
    list_items.change(function(val){

        console.log("test list_items -> "+`${val.target.value}`);

        if( `${val.target.value}` ){
            console.log("in IF ");

        }else{
            console.log("in ELSE ");
        }
    })

    
    


    function List(){
        let item = "";
        list_tab.forEach(elem => {

            //item += '<li>'+elem.name+'<p><span class="X">X</span> <span class="V">V</span></p></li>';

            if( elem.niveau == "false"){
                item += '<li>'+elem.name+'</li>';
                list_items.html(item);
            }
            else if( elem.niveau == "later"){
                item += '<li>'+elem.name+'<p><span class="X">X</span> <span class="V">V</span></p></li>';
                list_items.html(item);
            }
            else if( elem.niveau == "done"){
                item += '<li>'+elem.name+'<p><span class="X">X</span> <span class="V">V</span></p></li>';
                list_items.html(item);
            }
            else{false}

        })
    }

//done = val.target.value.replace("done/", "");
</script>