<div class="img" style="margin: 10px;">

    <app-header></app-header>

    <h2 style="text-align: left; margin-left: 20%; margin-top: 120px; color: white;">{{ title }}</h2>
    <br>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="produit">
                        Nom du menu :
                    </label>
                    <input class="form-control" type="text" id="nom" placeholder="menu" formControlName="Nnom" required>
                </div>
                
                <div class="form-group" >
                    <label for="">
                        Choix obligatoire de la tva :
                    </label>
                    <select id="tva" style="color: black;"formControlName="Ntva" required>
                        <option > TVA</option>
                        <option id="tva"  *ngFor="let tvas of listTvas"> {{ tvas.Tva }}</option>
                    </select>
                </div>

                <!-- <input type="submit" value="Enregistrer"> -->
                <!-- <a style="border: 2px solid gray; padding: 5px;" type="button" routerLink="/menu" (click)="onSave()">Enregistrer</a> -->
                <button class="btn btn-primary" 
                        [disabled]="!profileForm.valid"
                        onclick=" alert('Menu envoyé !')"
                        type="submit">Enregistrer le menu</button>
                
            </form>
        </div>
    </div>
</div>
